Subject: New Client Referral

<p>Dear {{agentName}},</p>
<p>A client from the Southlight referral platform has submitted a request to work with you.</p>
<p><strong>Client Information</strong></p>
<p>
  {{clientName}}<br>
  Looking to: {{lookingToDo}}<br>
  Phone: {{clientPhone}}<br>
  Email: {{clientEmail}}
</p>
<p>If this request is received during a regular business day, please reach out to {{clientName}} <strong>within the hour
    if your schedule allows</strong>, or <strong>no later than the end of the business day (5pm EST)</strong>.</p>
<p><strong>Action requested:</strong> Please confirm receipt of this request and that you have contacted the client.
  Thank you in advance for your diligence in responding promptly and for providing exceptional representation.</p>
<p>Best regards,<br>Southlight</p>